/* Estilo para cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: left;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #66CDAA;
    color: #fff;
}

/* Rodapé */
footer {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    
}

.footer-info span {
    display: inline-block;
    margin-right: 10px;
}

.footer-buttons button {
    margin-left: 10px;
}
