<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login - Biblioteca Virtual</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="login-container">
        <h2>Bem-vindo</h2>
        <form th:action="@{/perform_login}" method="post">
            <div class="form-group">
                <label for="username">Login:</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="buttons">
                <button type="submit" class="btn-entrar">Entrar</button>
                <button type="button" class="btn-sair">Sair</button>
            </div>
        </form>
    </div>
</body>

</html>
